.info-a {
    padding:1rem;
    color: black;
}

.body-2 {
    font-family: "Ubutu",sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.pic {
    /*    height:100px;
    width:100px;*/
    display: inline-block;
    background: linear-gradient(130deg, #74b9ff, #e66767);
    margin: auto;
    padding: 8px;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: gradient 2s linear infinite;
    overflow: hidden;
}

@keyframes gradient {
    25% {
        background-position: left top;
    }

    50% {
        background-position: right top;
    }

    75% {
        background-position: right bottom;
    }

    100% {
        background-position: bottom left;
    }
}

.pic img {
    width: 150px;
    height: 150px;
    display: block;

    border-radius: 50%;
    z-index:1;
}

.name {
    margin-top: 20px;
    color: black;
    font-size: 35px;
    font-weight: 600;
}

.epa {
    margin-top: 4px;
    color: black;
    font-size: 16px;
    font-weight: 520;
}

.footer-card {
    padding-top:40px;
}

.number {
    display: flex;
    align-items: center;
}

.item-profile {
    flex: 1;
    font-size: 15px;
}

    .item span {
        display: block;
        font-size: 25px;
        color: black;
    }

.border-profile {
    width: 1px;
    height: 30px;
    background: #2c3a47;
}

.pagination li{
    padding:0 5px;
}