
<!-- Nav Item - Menu cocktail -->
<li class="nav-item">
    <a class="nav-link collapsed" href="/Seller/AddProduct">
        <i class="fab fa-product-hunt"></i>
        <span>Thêm sản phẩm</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="@Url.Action("Order", "Seller")">
        <i class="fab fa-fan"></i>
        <span>Quản lý đơn hàng</span>
    </a>
</li>
