<!-- Nav Item - Menu Tài Khoản -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#">
        <i class="fas fa-user"></i>
        <span>Tài khoản</span>
    </a>
</li>

<!-- Nav Item - Menu Phân loại sản phẩm -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#">
        <i class="fas fa-bahai"></i>
        <span>Danh mục sảnh phẩm</span>
    </a>
</li>

<!-- Nav Item - Menu cocktail -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#">
        <i class="fab fa-product-hunt"></i>
        <span>Sản phẩm</span>
    </a>
</li>