<!-- Nav Item - Menu Tài Khoản -->
<li class="nav-item">
    <a class="nav-link collapsed" href="/admin/manageaccount">
        <i class="fas fa-user"></i>
        <span>Tài khoản</span>
    </a>
</li>

<!-- Nav Item - Menu Phân loại sản phẩm -->
<li class="nav-item">
    <a class="nav-link collapsed" href="/admin/managecategory">
        <i class="fab fa-product-hunt"></i>
        <span>Quản lí sản phẩm</span>
    </a>
</li>
